*{
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;


}

.header, .container1, .footer {
    color:#e5e7eb;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    padding:10px 100px;
    align-items: flex-end;
}

ul {
    margin: 0px;
    list-style-type: none;

}
ul li {
    display: inline;
    padding: 10px;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin:0px;
}

.container1 {
    background-color: #1f2937;
    height: 300px;
    display:flex;
    padding:100px;
    align-items: center;
}

.button {
    max-width: 150px;
    background-color: #3882F6;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    border:none;
    text-decoration: none;
    font-weight:bold;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
}

.subcontainer1 {
    display:flex;
    flex-direction: column;
    max-width: 500px;
}

.placeholder {
    display:flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;
    flex: 1;
    margin-left: 20px;
    padding: 50px 50px;

}

.container1 h1 {
    font-size: 48;
    color: #f9faf8;
    font-weight: bolder;
    margin:0px;
}

.footer {
       background-color: #1f2937;
}