*{
    box-sizing: border-box;
}

body, h1, h2, p {
    margin:0px;
    padding:0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, .container1, .footer, .card {
    color:#e5e7eb;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    padding:25px 100px;
    align-items: flex-end;
}

ul {
    margin: 0px;
    list-style-type: none;
}
ul li {
    display: inline;
    padding: 10px;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin:0px;
}

.container1 {
    background-color: #1f2937;
    height: 300px;
    display:flex;
    padding:100px;
    align-items: center;
}

.button {
    max-width: 150px;
    min-width: 150px;
    background-color: #3882F6;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    border:none;
    text-decoration: none;
    font-weight:bold;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
}

.subcontainer1 {
    display:flex;
    flex-direction: column;
    max-width: 500px;
}

.placeholder {
    display:flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;
    flex: 1;
    margin-left: 20px;
    padding: 50px 50px;
}

.container1 h1 {
    font-size: 48;
    color: #f9faf8;
    font-weight: bolder;
    margin:0px;
}

.box {
    height: 150px;
    width: 150px;
    border: solid 3px #3882F6;
    border-radius: 12px;
    margin-bottom: 25px;
}

.container2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    min-width: 200px;
    margin: 15px;
    color: #1F2937;
    margin-top: 50px;
}

.cardstack {
   display:flex;
   flex-direction: row;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 75px 100px 75px 100px;

}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    color: #1f2937;
    margin-top: 0px;
    margin-bottom:0px
}

.quote-container p {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-top:0px;
}

.call-to-action {
    margin: 75px 100px;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
}



.button-white-border {
    border: 2px solid #e5e7eb;
}

.footer {
       background-color: #1f2937;
       text-align: center;
       padding: 50px;
}